@mixin header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-bottom: 1px solid var(--ep-border-color);

  span {
    flex-shrink: 0;
  }
}
